<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <style>
    .message-content {
      font-family: Arial, Helvetica, sans-serif;
      max-width: 600px;
      font-size: 18px;
      line-height: 24px;
    }
  </style>
</head>
<body>
  <div class="message-content">
    <p>Olá {{name}}</p>
    <br/>
    <p>Recebemos uma solicitação de redefinição de senha para a sua conta de usuario</p>
    <p>Se realmente quer trocar a senha, clique no link abaixo para escolher uma nova senha</p>
    <p>
      <a href="{{link}}">Resetar minha senha</a>
    </p>
    
    <p>Caso você não tenha realização essa solicitação, descarte esse email</p>

    <br/>
    <p>
      Obrigado
    </p>
    <p>
      Team ApiSales
    </p>
  </div>
  
</body>
</html>